.container {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.text2 {
  font-style: normal;
  font-weight: 300;
}
@media(max-width: 479px) {
  .container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .text {
    color: #3e5e3c;
    font-size: 24px;
    align-self: flex-start;
    font-style: normal;
    font-family: Rajdhani;
    font-weight: 700;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
  }
  .text1 {
    font-size: 20px;
    font-family: Lato;
  }
}
